{% extends "base.html" %}
{% block content %}

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#channels_table').DataTable({
      "sDom": 'T<"clearfix">lfrtip',
      "oTableTools": {
        "sSwfPath": "static/copy_csv_xls_pdf.swf",
        "aButtons": [ "copy", "print",
          {
            "sExtends": "csv",
            "sFileName": "escalate_youtube_video_counts.csv",
          },
          {
            "sExtends": "xls",
            "sFileName": "escalate_youtube_video_counts.xls",
            "bFooter": false
          },
          {
            "sExtends": "pdf",
            "sFileName": "escalate_youtube_video_counts.pdf"
          }
        ]
      },
      "aLengthMenu": [
        [10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
      ],
      // since the list is already sorted descending by timestamp
      // don't let datatables resort it ascending, but
      // still allow the user to sort by columns:
      "aaSorting" : []
    });
  });
</script>

<div class="page-header">
  <h3 class="pull-left">Video counts</h3>
  <div class="clearfix"></div>
</div>
<table id="channels_table" class="display table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th style="text-align:left">timestamp</th>
      <th style="text-align:left">title</th>
      <th style="text-align:right">views</th>
      <th style="text-align:right">likes</th>
      <th style="text-align:right">dislikes</th>
    </tr>
  </thead>
  <tbody>
    {% for c in counters %}
      <tr>
        <td style="text-align:left; width:12%">{{c.timestamp}}</td>
        <td style="text-align:left">
          <a href="{{c.url}}" target="_blank">{{c.title}}</a>
        </td>
        <td style="text-align:right">{{c.views | format_number}}</td>
        <td style="text-align:right">{{c.likes | format_number}}</td>
        <td style="text-align:right">{{c.dislikes | format_number}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
