{% extends "base.html" %}
{% block content %}

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#counters_table').DataTable({
      "sDom": 'T<"clearfix">lfrtip',
      "oTableTools": {
        "sSwfPath": "static/copy_csv_xls_pdf.swf",
        "aButtons": [ "copy", "print",
          {
            "sExtends": "csv",
            "sFileName": "escalate_mozscape.csv",
          },
          {
            "sExtends": "xls",
            "sFileName": "escalate_mozscape.xls",
            "bFooter": false
          },
          {
            "sExtends": "pdf",
            "sFileName": "escalate_mozscape.pdf"
          }
        ]
      },
      "aLengthMenu": [
        [10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
      ],
      "aoColumnDefs": [{
        "bSortable": false,
        "aTargets": [0] // disable sort on 2nd column of the table
      }],
      // since the list is already sorted descending by timestamp
      // don't let datatables resort it ascending, but
      // still allow the user to sort by columns:
      "aaSorting" : []
    });
  });
</script>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('[data-toggle="confirmation"]').confirmation({
      title:  "WARNING:<br><br>" +
              "Getting mozscape data interacts with the <b>free</b> Mozscape API endpoint which is very slow.<br><br>" +
              "Also, limit your get requests to no more than 1 every 10 seconds, otherwise your account may be suspended.<br><br>" +
              "Usually this is much better performed as a scheduled background job, which can be coded to throttle bulk/batch requests." +
              "<br><br><br>Are you sure?",
      singleton: true,
      popout: true,
      placement: 'right'
    });
  });
</script>

<div class="page-header">
  <a class="pull-left" href="http://moz.com" title="moz.com" target="_blank">
    <img src="static/images/powered-by-moz.jpg" alt="Powered by Mozscape" />
  </a>
  <div class="clearfix"></div>
</div>
<table id="counters_table" class="display table table-striped table-bordered table-condensed table-hover" cellpadding="0" cellspacing="0" border="0">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>name</th>
      <th>runnable</th>
      <th>spreadsheet</th>
      <th>updated at</th>
    </tr>
  </thead>
  <tbody>
    {% for c in mozs %}
      <tr>
        <td>
          <a href="/mozscapes_summary?id={{c.id}}" class="btn btn-xs btn-success" title="view counts">results</a>
          <a data-toggle="confirmation" data-href="/moz_now?id={{c.id}}" class="btn btn-xs btn-danger">get</a>
        </td>
        <td>
          <a href="/mozscapes_update?id={{c.id}}">{{c.name}}</a>
        </td>
        <td>{{c.runnable}}</td>
        <td><a href="{{c.gspread_link}}" target="_blank">view</a></td>
        <td>{{c.updated_at}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
